
.loading-bar {
    position: relative;
    margin: 0 auto;
    height: 12px;
    width: 100%;
    border-radius: 12px;
  }
  
  .loading-bar span {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #222222, #343434 60%);
    overflow: hidden;
  }
  
  .loading-bar span:after {
    content: "";
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg, 
      rgba(110, 105, 105, 0.2) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(110, 105, 105, .2) 50%, 
      rgba(110, 105, 105, .2) 75%,
      transparent 75%, 
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }
  
  .loading-bar > span:after, .animate > span > span { 
    animation: load 1s infinite;
  }
  
  @keyframes load {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }
  